---
const { title, pageTitle, description } = Astro.props;
const formattedTitle = title || 'きのこカンファレンス' + (!!pageTitle ? ` - ${pageTitle}` : '');
const pageDescription = description || '「エンジニアがこの先生きのこるためのカンファレンス」は、参加される方がそれぞれのキャリアやロードマップを見つめ直し、自身の未来を描くヒントを得ることを目的に開催するITカンファレンスです。';
---


<head>
  <title>{ formattedTitle }</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content={ pageDescription } />
  <meta name="keywords" content="きのこカンファレンス, ITカンファレンス, ITエンジニア, 生存戦略" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="format-detection" content="telephone=no" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content={ formattedTitle } />
  <meta property="og:url" content="https://kinoko-conf.dev/" />
  <meta property="og:description" content={ pageDescription } />
  <meta property="og:image" content="https://fortee.jp/files/kinoko-2025/image/banner.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@kinoko_conf" />
  <meta name="twitter:title" content={ formattedTitle } />
  <meta name="twitter:description" content={ pageDescription } />
  <meta name="twitter:image" content="https://fortee.jp/files/kinoko-2025/image/banner.png" />
  <link rel="apple-touch-icon" sizes="500x500" href="/image/apple-touch-icon.png">
  <link rel="icon" href="favicon.ico">
  <slot />
</head>